<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сброс пароля</title>
</head>
<body>
    <p>Дорогой {{ user.username }},</p>
    <p>Для сброса пароля <a href="{{ config['APP_URL'] + '/set-new-password?token=' + token }}">нажмите здесь</a></p>
    <p>Также вы можете вставить следующую ссылку в адресную строку браузера:</p>
    <p>{{ config['APP_URL'] + '/set-new-password?token=' + token }}</p>
    <p>Если вы не запрашивали сброс пароля, то просто проигнорируйте это сообщение.</p>
    <p>С уважением,</p>
    <p>Команда {{ config.APP_NAME }}</p>
    <p>Пожалуйста, не отвечайте на это сообщение</p>
</body>
</html>